include parnellmix

doctype html
html
	head
		title Parnell Veterinary Pharmaceuticals
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Parnell Pharmaceuticals')
		meta(name='keywords', content='Parnell, Pharmaceuticals')
		script(src='lib/jquery/dist/jquery.min.js')
		script(src='lib/angular/angular.js')
		script(src='lib/angular-route/angular-route.js')
		script(src='lib/lodash/lodash.js')
		script(src='lib/moment/moment.js')
		script(src='lib/bootstrap-sass/assets/javascripts/bootstrap.min.js')
		link(rel='stylesheet', href='css/index.css')
	body(ng-app='clinicApp', ng-controller='IndexCtrl')
		+pnl-navbar
		.container
			.row
				+col(null)(ng-show='showController === "hello"')
					#hello-parnell(ng-controller='HelloCtrl')
						h1 Hello Message
						h2 {{message}}
				+col(null)(ng-show='showController === "adv"')
					include advertorial
		script(src='js/app.js')
		script(src='js/index.js')
		script(src='js/hello.js')
		script(src='js/advertorial.js')
