doctype html
html
	head
		title Parnell Veterinary Pharmaceuticals
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Parnell Pharmaceuticals')
		meta(name='keywords', content='Parnell, Pharmaceuticals')
		script(src='lib/react/react.min.js')
		script(src='lib/jquery/dist/jquery.min.js')
		script(src='lib/lodash/lodash.min.js')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.min.css')
		link(href='css/index.css' rel='stylesheet')
	body
		.container
			.row
				.col-xs-12
					include landing
