include parnellmix

doctype html
html(ng-app='clinicApp')
	head
		title Parnell Veterinary Pharmaceuticals
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Parnell Pharmaceuticals')
		meta(name='keywords', content='Parnell, Pharmaceuticals')
		script(src='lib/jquery/dist/jquery.min.js')
		script(src='lib/angular/angular.min.js')
		script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
		script(src='lib/lodash/lodash.min.js')
		script(src='lib/moment/moment.js')
		script(src='lib/bootstrap-sass/assets/javascripts/bootstrap.min.js')
		link(rel='stylesheet', href='css/index.css')
	body(ng-controller='IndexCtrl', ng-cloak)
		include nav
		.container
			#main(ui-view)
		script(src='js/services/pnl.js')
		script(src='js/app.js')
		script(src='js/services/ClinicFactory.js')
		script(src='js/index.js')
		script(src='js/nav.js')
		script(src='js/advertorial.js')
<<<<<<< HEAD
		script(src='js/breed.js')
		script(src='js/entry1.js')
		//- script(src='js/bundle.js')
=======
		script(src='js/intro.js')
		script(src='js/login.js')
>>>>>>> 8f3cfc0d928d46f1a4b0d4c485037feb702b91f9
