include parnellmix

doctype html
html
	head
		title Parnell Veterinary Pharmaceuticals
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='description', content='Parnell Pharmaceuticals')
		meta(name='keywords', content='Parnell, Pharmaceuticals')
		script(src='lib/jquery/dist/jquery.min.js')
		script(src='lib/lodash/lodash.min.js')
		script(src='lib/bootstrap-sass/assets/javascripts/bootstrap.min.js')
		script(src='lib/react/react.min.js')
		link(rel='stylesheet', href='css/index.css')
	body
		+pnl-navbar
		.container
			.row
				+col(null)
					include advertorial
		script(src='js/parnell.js')
