//	Main SCSS file (imports the other files)

$screen-sm-min: 768px;  // Small screen / tablet
$screen-md-min: 992px;  // Medium screen / desktop
$screen-lg-min: 1200px; // Large screen / wide desktop
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

@import "parnell-variables.scss";

@import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "../../bower_components/fontawesome/scss/font-awesome.scss";

/* Theming */
@import "parnell-theme-flatly.scss";
@import "parnell.scss";

/* Page specific theming */
